img {
  height: 200px;
  width: 250px; 
  padding: 10px;
}

.products-form-container {
  display: flex; 
  justify-content: space-evenly;
}
.products-flex-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-flex-div {
  display: flex; 
  justify-content: center; 
}

.form-container {
  background: #2C905C;
  width: 30%;
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
}
  
.header-container {
  height: 10vh;
  width: auto; 
  background-color: #AB2A18; 
  font-size: 30px;
  display: flex;
  align-items: center;
}

.shelfie-image {
  height: 50px;
  width: auto;
  margin-left: 45px;
  margin-right: 20px;
}

.nav-buttons { 
  font-size: 18px;
  margin-left: 30px;
  background: #ED6B5A;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.product-container {
  width: 25%;
  background: #913A2F;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 7px;
}

.info-container { 
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form-buttons-container{
  display: flex;
  justify-content: space-between;

}